/***********
KITTEN IMAGE
***********/
img {
    margin-top: 1rem;
}

/************
ERROR MESSAGE
************/

h1 {
    margin-top: 1rem;
} .errormsg {
    text-align: right;
} .errortext p {
    margin-bottom: 0.75px;
}

/**********
DEV DETAILS
**********/
details {
    font-size: 0.75rem;
    margin-top: 2rem;
} details p {
    text-indent: 1.5rem;
}
/* Hide details arrow */
details > summary:first-of-type {
    list-style-type: none;
} details summary::-webkit-details-marker {
  display:none;
}